body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item-form {
  max-width: 500px;
  margin: 35px auto 25px;
}

.item-form input {
  width:100%;
}

.item-form-h3 {
  font-size:18px;
  font-weight: 400px!important;
  margin: 10px 0px;
  color: #2A323C;
}

.item-form-h4 {
  font-size: 16px;
  font-weight: 400px;
  margin: 10px 0px;
  color: #5C6269;
}

.shopping-list-header {
  align-items: center;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 20px;
  font-weight: 400;
  font-size: 20px;
}

.shopping-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.empty-container {
  width: 100%;
  max-width: 600px;
  height: 290px;
  margin: 100px auto;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
}

.empty-shopping-list {
  width: 100%;
  justify-content: center;
}

.purchased {
  background-color: #D5DFE92B;
  text-decoration: line-through!important;
}

.purchased .item-name{
  color: #1976d2;
}

.item-name {
  font-weight: 700;
  margin: 10px 0px;
}

.item-description {
  color: #555;
  margin: 10px 0px;
}

.mb-4 {
  margin-bottom: 1.33rem!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.ml-1 {
  padding-left: .33rem!important;
}

.character-counter {
  color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: right;
    margin-top: -35px;
    margin-right: 14px;
    margin-bottom: 15px;
    margin-left: 14px;
}

.shopping-list {
  margin: 20px
}

.shopping-list-body {
  flex-grow: 1;
  margin: 0 15px;
  flex: 1 1 auto;
}

.main {
  max-width:1000px;
  margin: 0 auto;
}

#alert-dialog-title {
  margin: 10px 20px 0px;
}

#alert-dialog-description {
  margin: 0px 20px 50px 20px;
}

#alert-dialog-actions {
  margin: 20px;
}

.dashboard {
  max-width:1000px;
  margin: 0 auto;
}

.left-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  width: 96px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  text-transform: none!important;
}

.btn-container-right {
  display: flex;
  justify-content: flex-end;
  margin: 100px 0px;
}

.btn-container-right button {
  margin-left: 20px;
}

.flex-container {
  display: flex;
  margin: 12px;
}